body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #ffffff;
  }

 .font a:hover{
  color: yellow;
 }

 :root {
  --red: #084fe7;
  --darkred: #13090a;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}
.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.15);
  scroll-snap-align: start;
  transition: all 0.2s;
}
.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color: var(--white);
  background: var(--red);
}

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: rgb(187, 187, 187);
  background: var(--red);
  padding: 6px 12px;
  border-radius: 10px;
  transition: background 0.2s;
}

.card:hover .card-link {
  background: var(--darkred);
}
